:root {
    --body-bg-color: #1E2022;
    --btn-bg-color: #49484B;
    --th-bg-color: #483D36;
    --scroll-track-color: var(--body-bg-color);
    --tr-hover-bg-color: #341c11;
    --btn-bg-lighter-color: #5a595c;
}