main{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    // border: 2px solid red;
}
header {
    text-align:center;
    margin: 0px 37%;
    display: inline-block;
}
h1 {
    font-size: 28px;
}
#bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.right.section{
    flex-direction: column;
    position: relative;
}

.left.section {
display: flex;
// border: 4px dotted silver;
}

td{
text-align: center;
}

#right-btn-side, #left-btn-side {
display: flex;
flex-direction: column;
align-items: stretch;
}

#picket-info {
    // display: flex;
}